<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="C:\Program Files\dotnet\dotnet.exe" arguments="exec &quot;C:\Repositories\Git\10Helmets\10Helmets.API\10Helmets.API.UI.CentralManagement.WebApi\bin\Debug\netcoreapp2.2\10Helmets.API.UI.CentralManagement.WebApi.dll&quot;" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="Secret_Key" value="KNFKVNKFNKVFVFKDKFBFMBKFBMZKBMKFXBFB5FB8DB45DBB" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>